.lblSubTitle {
    color:white;
}
.btn-action-logout {
    font-size: 0.85em;
    border: solid 1px rgb(255,36,255);
    border-radius: 15px;
    height: 30px;
    background-color: rgb(255,36,255);
    color: white;
    width: 100px;
    font-weight: bold;
}

.btn-action-exit {
    font-size: 0.85em;
    border: solid 1px rgb(255,36,255);
    border-radius: 15px;
    height: 30px;
    background-color: rgb(255,36,255);
    color: white;
    width: 100px;
    font-weight: bold;
}

.btn-action-forget {
    font-size: 0.85em;
    border: solid 1px #FF9800;
    border-radius: 15px;
    height: 30px;
    background-color: #FF9800;
    color: white;
    width: 100px;
    font-weight: bold;
}
.item-cupon-image {
    border: solid 1px transparent;
    cursor: pointer;
    border-radius: 12px;
}

.item-cupon {
    border-bottom: solid 2px rgb(111,112,112);
    cursor: pointer;
    border-radius: 2px;
}

    .item-cupon:hover {
        color: white !important;
        border: solid 1px rgb(111,112,112);
        box-shadow: 0 0.125rem 0.25rem rgb(28 104 255 / 80%) !important;
    }

.btn-menu-comun {
    text-align: center;
    height: 50px;
    color: #706F6F;
    font-size: 1.05em;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    width: 99%;
    border-width: 0px;
    border-bottom: solid 2px rgb(111,112,112) !important;
    border-radius: 3px !important;
}

.dyn-title {
    color: #003F5B;
    font-size: 1em;
}

.btn-menu-intermedio {
    text-align: center;
    height: 35px;
    color: #003F5B;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    background-color: hsl(200, 7%, 90%);
    width: 90%;
    border: solid 1px hsl(200, 7%, 90%);
    border-radius: 20px !important;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
.searcher {
    font-size: 0.85em;
    border: solid 1px #1BCFFA;
    border-radius: 10px;
    background-image: url('../lupa.png');
    background-size: 15px 12px;
    background-position: 2px 3px;
    background-repeat: no-repeat;
    padding-left: 15px;
    width: 100%;
    height: 30px;
    background-color: #1BCFFA;
    color: white;
}

    .searcher::-webkit-input-placeholder {
        font-size: 1.01em !important;
        color: ghostwhite;
        line-height: 1;
        padding-left:0px;
    }

    .searcher::-moz-placeholder {
        font-size: 1.01em !important;
        color: ghostwhite;
        line-height: 1;
        padding-left: 0px;
    }
.colorBack {
    background-color: #0dabff;
}
.app-login {
    background-color: #0dabff;
    height: 100vh;
    width: 100vw;
}
.btn-action-login {
    border: solid 0px white !important;
    background-color: #131230 !important;
}
.page-footer {
    position: absolute;
    bottom: -7px;
    background-color: #0dabff;
    width: 100vw;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    z-index: 999999;
}
.footer-text {
    font-size: 0.6em;
    color: white;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
