################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Externos/v17
/.vs/publicar/config
/.vs/publicar/FileContentIndex
/bin
/.vs
/Credipaz.WebSocketServer.ReverseProxy
/obj/Debug
