################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/Credipaz.Intranet/assets/audio
/Credipaz.Intranet/assets/bootstrap
/Credipaz.Intranet/assets/bootstrap-material-design
/Credipaz.Intranet/assets/credipaz/img
/Credipaz.Intranet/assets/icons
/Credipaz.Intranet/assets/img
/Credipaz.Intranet/assets/logos
/Credipaz.Intranet/assets/sys
/Credipaz.Intranet/assets/trumbo
/Credipaz.Intranet/assets/uploads
/prepare.bat
/.gitignore
