################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug
/web.config
/web.Debug.config
/web.Release.config
/bin
/Recursos
