body {
   overflow-y: auto;
}
.modal-open {
    overflow-y: auto !important;
}
.magenta {
    color: #dd127b !important;
}
.bg-magenta {
    background-color: #dd127b !important;
}
.bg-silver {
    background-color: silver !important;
}
.bold {
    font-weight:bold !important;
}
.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    15% {
        opacity: 0;
    }
}