body {
   overflow-y: auto;
}
.modal-open {
    overflow-y: auto !important;
}
.blue {
    color: #007bff !important;
}
.bg-blue {
    background-color: #007bff !important;
}
.magenta {
    color: #dd127b !important;
}
.bg-magenta {
    background-color: #dd127b !important;
}
.silver {
    color: silver !important;
}
.bg-silver {
    background-color: silver !important;
}
.bold {
    font-weight:bold !important;
}
.itemParent {
    cursor: pointer !important;
}
.list-group-item {
    cursor: pointer !important;
}
    .list-group-item:hover {
        color: #007bff !important;
        background-color: gainsboro !important;
    }
.collapsing {
    transition: height 0.5s ease-in-out !important;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    15% {
        opacity: 0;
    }
}