<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
			<cors enabled="true">
				<add origin="*" >
					<allowHeaders allowAllRequestedHeaders="true">
						<add header="X-API-KEY" />
						<add header="Origin" />
						<add header="X-Requested-With" />
						<add header="Content-Type" />
						<add header="Accept" />
						<add header="Access-Control-Request-Method" />
					</allowHeaders>
					<allowMethods>
						<add method="PUT" />
						<add method="GET" />
						<add method="POST" />
						<add method="DELETE" />
						<add method="OPTIONS" />
					</allowMethods>
				</add>
			</cors>
			<rewrite>
			<rules>
				<rule name="Rewrite to index.php">
					<match url="index.php|robots.txt|images|test.php" />
					<action type="None" />
				</rule>
        <rule name="Rewrite CI Index">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern=".css|.js|.jpg|.jpeg|.png|.gif|.ico|.htm|.html|.mp3|.pdsf|.doc|.docx|.apk|.svg|.csv" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:0}" />
				</rule>
			</rules>
		</rewrite>
      <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
