@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
	overscroll-behavior: none;
	font-family: 'Calibri', sans-serif;
}

.nd-button {
	color: #ffffff;
	border: solid 1px silver;
	border-radius: 25px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #dd127b;
	font-family: 'Poppins-SemiBold' !important;
	font-size: 14px !important;
}

.clubredondo-button {
	color: #ffffff;
	background-color: #ff24ff;
}

	.clubredondo-button:disabled {
		border-radius: 25px;
		padding-left: 50px;
		padding-right: 50px;
		background-color: silver;
	}

body {
	overscroll-behavior: none;
	overflow-x: hidden;
}
@font-face {
	font-family: 'Nunito-bold';
	src: url('Nunito-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-black';
	src: url('Poppins-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-blackitalic';
	src: url('Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-bold';
	src: url('Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-regular';
	src: url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-semibold';
	src: url('Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-semibolditalic';
	src: url('Poppins-SemiBoldItalic.ttf') format('truetype');
}

.custom-field {
	width: 100%;
	padding: 8px;
	border: solid 1px silver;
	border-radius: 5px;
	background-color: ghostwhite !important;
	color: #6b6b6b !important;
	font-size: 0.9em !important;
	font-family: 'Poppins-SemiBold' !important;
}

.custom-field-inline {
	width: 80%;
	padding: 15px;
	border: solid 1px silver;
	border-radius: 5px;
	background-color: ghostwhite !important;
	color: #6b6b6b !important;
	font-size: 0.85em !important;
	height: 0.5em;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

.magenta {
	background-color: rgb(235, 0, 139);
	color: whitesmoke;
}
.letter-magenta {
	color: rgb(235, 0, 139);
	background-color: transparent;
}

.black {
	background-color: whitesmoke;
	color: black;
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.long-text {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.label-black {
	vertical-align: top;
	padding: 5px;
	color: black;
	font-weight: bold;
	background-color: #ddd;
}

.label-darkred {
	vertical-align: top;
	padding: 5px;
	color: darkred;
	background-color: #ddd;
}

.filter-option-inner-inner {
	color:black;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .35s ease-out;
	-moz-transition: margin .35s ease-out;
	-o-transition: margin .35s ease-out;
	transition: margin .35s ease-out;
}

	#sidebar-wrapper .sidebar-heading {
		padding: 0;
		display:inline;
	}

	#sidebar-wrapper .list-group {
		width: 15rem;
	}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

.drop_zone {
	border: 5px dotted silver;
	background-color: white;
	width: 100%;
	height: 50px;
}

.drop_zone_over {
	border: 5px dotted grey;
	background-color: antiquewhite;
}

.boxedfield {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: solid 1px transparent;
	border-radius: 15px;
	-webkit-box-shadow: -1px -1px 8px 3px rgba(130,130,130,0.5);
	box-shadow: -1px -1px 8px 3px rgba(130,130,130,0.5);
	-moz-box-shadow: -1px -1px 8px 3px rgba(130,130,130,0.5);
}

.form-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 1px solid #666;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}

.form-radio:checked::before {
	position: relative;
	font: 13px/1 'Open Sans', sans-serif;
	left: 10px;
	top: 2px;
	content: 'X';
}

.form-radio:hover {
	background-color: #f7f7f7;
}

.form-radio:checked {
	background-color: #f1f1f1;
}

.comment {
	width: 400px;
	background-color: transparent;
	margin: 10px;
}

a.morelink {
	text-decoration: none;
	outline: none;
}

.morecontent span {
	display: none;
}

.h_iframe iframe {
	width: 100%;
	height: 100%;
}

.h_iframe {
	height: 100%;
	width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media (min-width: 300px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

.dropdown-menu .dropdown-item {
	max-width: 100% !important;
}
