################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/Credipaz.SIA/config
/.vs/Credipaz.SIA.slnx/v18
